/* Space out content a bit */

body {
    padding-top: 40px;
    padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-fixed-top {
    background-color: #e5e5e5;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
/* Customize container */

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 50px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

}
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
.main-search-query {
    margin-bottom: 5px;
    margin-right: 5px;
    
}

.link {
    color: gray;
    font-size: 18px;
}

.link_scholar {
    color: gray;
    font-size: 12px;
    margin-right: 1px;
}

.button-nav:hover {
    background-color: white;
}
.search-result {
    border: 2px solid transparent;
    border-radius: 7px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 55px;
    margin-left:38px;
    margin-bottom:15px;
    border-left:2px;
    position: relative;
}
.search-result:hover {
    border: 2px solid #428bca;
}
.promoted {
    background-color: #D1DBE6;
}
.demoted {
    background-color: #F0C8D3;
    color: #969696;
}
.demoted a:link {
    color: #808080;
}

.critisort{
    margin-left: 0.8rem;
}
.originalsort{
    margin-left: 0.8rem;
    
}

input.main-search-query {
    width: 100%;
    border: 2px solid black;
    border-radius: 7px;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin: 1rem;
    margin-left: 1.5rem;
    
}
.like_dislike {
    float: right;
    margin: -10px;
    position: absolute;
    left: 10px;    
    top: 15px;
}

.critisort {
    margin-top: 2.5rem;
    margin-left:2rem;

}
.teacher-queries {
    border: 1px solid black;
    border-radius: 10px;
    height: 500px;
    padding: 20px;
}
.teacher-title {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.student-query {
    list-style-type: none;
    display: block;
    border-radius: 8px;
    background-color: #FFCC33;
    padding: 5px;
    margin: 3px;
    text-align: center;
}
.register-now {
    display: inline-block;
    float: right;
}
.admin-block {
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    min-height: 500px;
}
.modal-header {
    background-color: #e5e5e5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header-delete {
    background-color: #FF0000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.class-panel {
    float: left;
    margin: 5px;
    width: 250px;
    height: 330px;
}
.panel-heading {
    text-align: center;
}
.panel-title {
    height: 40px;
    overflow-y: auto;
}
.panel-body {
    text-align: center;
}
img.add-class {
    height: 200px;
    width: 170px;
}
.student-list {
    padding: 3px;
    border: 1px solid gray;
    border-radius: 3px;
    height: 150px;
    width: 200px;
    overflow-y: auto;
    margin: 5px;
}
.students {
    overflow-y: auto;
    height: 450px;
}
.class-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.class-btn {
    margin-bottom: 10px;
    width: 100%;
}
.padding {
    height: 70px;
}

.items-wrap {
    position: absolute;
    overflow: scroll;
    height:100%;
    width: 100vw;
    left: 0;
}
.toggle-switch {
    position: relative;
    top: -0.5rem;
    right: 74.2rem;
}

.search-result a.visited {
    color: #aa00ff;
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .search-result {
        padding-left: 80px;
    }
    .search-result .like_dislike {
        display: inherit ! important;
        float: left;
        right: inherit;
        left: 6px;
        top: 20px;
    }
}
